.login_info {
  position: absolute;
  left: 500px;
  top: 100px;
  width: 430px;
  height: 450px;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .login1_info {
  position: absolute;
  left: 450px;
  top: 100px;
  width: 500px;
  height: 300vh;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.login_but {
  display: block;
  position: relative;
  top: 10px;
  left: 60px;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 0px;
  background-image: linear-gradient(to right, #03045e, #023e8a);
  color: white;
  font-family: "poppins";
}

.login_but:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #023e8a, #03045e);
}

.login_hr {
  position: relative;
  top: 30px;
  left: -25px;
}

.login_psw {
  position: relative;
  top: 40px;
  left: 20px;
}
